.dg.a.junc_controls{
    position: absolute;
    top: 230px;
    right: 0px;
    border: 2px solid gray;
    padding: 5px;
    background-color: black;
    margin-right: 5px;
}

.file{
    width: 230px;
    height: 20px;
    padding: 3px;
    font-size: 12px;
    line-height: 20px;
    background-color: black;
}
.file.selected{
    background-color: #222;
}

.file:hover{
    background-color: #444;
}

.dg.a.files_controls{
    position: absolute;
    height: 200px;
    width: 250px;
    top: 0px;
    right: 0px;
    border: 2px solid gray;
    padding: 5px;
    background-color: black;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 5px;
    margin-right: 5px;
}

.dg .c{
    text-align: center;
}

*{
    user-select: none;
}