.dg.a.junc_controls{
    position: absolute;
    top: 230px;
    right: 0px;
    border: 2px solid gray;
    padding: 5px;
    background-color: black;
    margin-right: 5px;
}

.dg.a.road_controls{
    position: absolute;
    top: 0px;
    right: 255px;
    border: 2px solid gray;
    padding: 5px;
    background-color: black;
    margin-top: 5px;
    width: 365px !important;
}

.dg.a.road_controls .cr.number{
    width: 100px;
    display: inline-block;
}

.dg.a.road_controls .property-name {
    width: 30px !important;
    margin-left: 5px !important;
}


.file{
    width: 230px;
    height: 20px;
    padding: 3px;
    font-size: 12px;
    line-height: 20px;
    background-color: black;
}
.file.selected{
    background-color: #222;
}

.file:hover{
    background-color: #444;
}

.dg.a.files_controls{
    position: absolute;
    height: 200px;
    width: 250px;
    top: 0px;
    right: 0px;
    border: 2px solid gray;
    padding: 5px;
    background-color: black;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 5px;
    margin-right: 5px;
}

.string_c{
    width: 180px !important;
}

.string_input{
    width: 30% !important;
    float: left !important;
    text-align: center !important;
}

.lane_button{
    position: relative;
    float: left;
}

.dg .c{
    text-align: center;
}

*{
    user-select: none;
}

.dg .property-name {
    width: 80px !important;
    margin-left: 5px !important;
}

.button{
    width: 19px;
    height: 19px;
    background-color: #444444;
    border-radius: 2px;
    color: #ffffff;
    font-size: 20px;
    line-height: 19px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    margin-top: 3px;
    margin-left: 5px;
    vertical-align: top;
}